* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
    font-style: italic;
}

body {
    background: #000000;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shadow {
    position: relative;
    width: 400px;
    height: 400px;
    background: #111111;
    color: #ffffff;
    line-height: 350px;
}

.shadow::before, .shadow::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    top: -3px;
    left: -3px;
    background: linear-gradient(45deg, #fc0090, #0000ff, #00ff00, #f00, #ffff00, #fc0090, #0000ff, #00ff00, #f00, #ffff00);
    background-size: 300%;
    animation: shadow 5s linear infinite;
}

.shadow::after {
    filter: blur(30px);
}

@keyframes shadow {
    0% { background-position: 0 0; }
    50% { background-position: 400px; }
    100% { background-position: 0 0; }
}

img {
    width: 400px;
    height: 400px;
}